{% extends "base.html" %}

{% block main %}

<h1>Jogadores do Real</h1>

Courtois; Carvajal, Rudiger, Alaba e Camavinga; 
Kroos, Modric e Valverde; Rodrygo, Benzema e Vini Jr. 
Técnico: Carlo Ancelotti.

<h1>Jogadores do United</h1>

United: De Gea; Wan-Bissaka, Maguire, Lindelof, Shaw; 
Casemiro, Fred, Eriksen; Antony, Martial, Rashford. 
Técnico: Erik Ten Hag.

<h1>Jogadores do PSG</h1>

Donnarumma; Hakimi, Marquinhos e Sergio Ramos; 
Nuno Mendes, Danilo Pereira; Vitinha e Verratti; 
Neymar, Messi e Mbappé. Técnico: Christophe Galtier.

<h1>Jogadores do Juventus</h1>

Szczesny; Danilo, Bonucci e Alex Sandro; 
Cuadrado, Fagioli, Locatelli, Rabiot e Kostic; 
Di María; Vlahovic. Técnico: Massimiliano.

<h1>Jogadores do Bayern</h1>

Sommer; Pavard, De Ligt, Upamecano e Davies; 
Kimmich e Goretzka; Coman, Musiala e Sané; 
Müller. Técnico: Thomas Tuchel.

{% endblock %}