
{% extends "base.html" %}

{% block main %}

<style>
    body {
        background-color: rgb(11, 212, 169);
    }
    h1 {
        color: rgb(5, 74, 202);
        border-width: medium;
        border-style: solid;
        border-color: rgb(228, 237, 238);
    }
</style>

<h1>Últimos Resultados da Juventus</h1>

<p>Juventus 2 - 0 Cremonese</p>
<p>Juventus 1 - 1 Sevilla</p>
<p>Atalanta 0 - 2 Juventus</p>
<p>Juventus 2 - 1 Lecce</p>
<p>Bolonha 1 - 1 Juventus</p>

<h3><a href="/juventus">Jogadores da Juventus</a></h3>
<hr>
{% endblock %}