
{% extends "base.html" %}

{% block main %}

<style>
    body {
        background-color: rgb(11, 212, 169);
    }
    h1 {
        color: rgb(5, 74, 202);
        border-width: medium;
        border-style: solid;
        border-color: rgb(228, 237, 238);
    }
</style>

<h1>Últimos Resultados do Manchester United</h1>

<p>Manchester United 2 - 0 Wolverhampton</p>
<p>West Ham 1 - 0 Manchester United</p>
<p>Brighton 1 - 0 Manchester United</p>
<p>Manchester United 1 - 0 Aston Villa</p>
<p>Tottenham 2 - 2 Manchester United</p>

<h3><a href="/manunited">Jogadores do Manchester United</a></h3>
<hr>
{% endblock %}