
{% extends "base.html" %}

{% block main %}

<style>
    body {
        background-color: rgb(11, 212, 169);
    }
    h1 {
        color: rgb(5, 74, 202);
        border-width: medium;
        border-style: solid;
        border-color: rgb(228, 237, 238);
    }
</style>

<h1>últimos Resultados do Real Madrid</h1>

<p>Real Madrid 1 - 0 Getafe</p>
<p>Real Madrid 1 - 1 Manchester City</p>
<p>Real Madrid 2 - 1 Osasuna</p>
<p>Real Sociedad 2 - 0 Real Madrid</p>
<p>Real Madrid 4 - 2 Almería</p>

<h3><a href="/realmadrid">Jogadores do Real Madrid</a></h3>
<hr>
{% endblock %}