{% extends "base.html" %}

{% block main %}

<h1>Últimos 5 jogos do Real</h1>

Real Madrid 1 - 0 Getafe
Real Madrid 1 - 1 Manchester City
Real Madrid 2 - 1 Osasuna
Real Sociedad 2 - 0 Real Madrid
Real Madrid 4 - 2 Almería

<h1>Últimos 5 jogos do United</h1>

Manchester United 2 - 0 Wolverhampton Wanderers
West Ham United 1 - 0 Manchester United
Brighton & Hove Albion 1 - 0 Manchester United
Manchester United 1 - 0 Aston Villa
Tottenham Hotspur 2 - 2 Manchester United

<h1>Últimos 5 jogos do PSG</h1>

Paris Saint-Germain5 - 0 AC Ajaccio
Troyes 1 - 3 Paris Saint-Germain
Paris Saint-Germain 1 - 3 Lorient
Angers 1 - 2 Paris Saint-Germain
Paris Saint-Germain 3 - 1 Lens

<h1>Últimos 5 jogos do Juventus</h1>

Juventus 2 - 0 Cremonese
Juventus 1 - 1 Sevilla FC
Atalanta 0 - 2 Juventus
Juventus 2 - 1 Lecce
Bolonha 1 - 1 Juventus

<h1>Últimos 5 jogos do Bayern</h1>

Bayern de Munique 6 - 0 Schalke 04
Werder Bremen 1 - 2 Bayern de Munique
Bayern de Munique 2 - 0 Hertha Berlin
Mainz 3 - 1 Bayern de Munique
Bayern de Munique 1 - 1 Manchester City

{% endblock %}