{% extends "base.html" %}

{% block main %}

<style>

</style>

<h1>Times</h1>

<h1>Gigantes europeus: Os maiores das grandes ligas</h1>

<hr><h3>Real Madrid</h3> 
<p><a href="/realmadrid">Jogadores</a></p>
<p><a href="/realmadridres">Resultados</a></p>

<hr><h3>Manchester United</h3>
<p><a href="/manunited">Jogadores</a></p>
<p><a href="/manunitedres">Resultados</a></p>

<hr><h3>Paris Saint-Germain</h3>
<p><a href="/psg">Jogadores</a></p>
<p><a href="/psgres">Resultados</a></p>

<hr><h3>Juventus</h3>
<p><a href="/juventus">Jogadores</a></p>
<p><a href="/juventusres">Resultados</a></p>

<hr><h3>Bayern de Munique</h3>
<p><a href="/bayern">Jogadores</a></p>
<p><a href="/bayernres">Resultados</a></p>
<hr>
{% endblock %}